 /* #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: rgb(215, 212, 212);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 1000px;
    height: 500px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 100%;
    background: #fff;
  
    display: inline-block;

    display: block;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  */
