#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 1000px;
    height: 650px  ;
    border-radius: 40px;
    margin-left: 100px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%  ;
    object-fit: cover;
  }
  .hallo{
    display: flex;
    margin-top: 100px;
  }
  .im{
    display: inline-block;
  }
  .mySwiper{
    margin-right: 20px;
    margin-left: 0px;
  }
  .swp{
    margin-right: 300px;
    width: 100px;
  }