.header-container {
    background-color: white;
    box-shadow:  rgba(0, 0, 0, 0.16) 0px 2px 2px;
    margin-bottom: 2px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
.header-container img{
    height: 50px;
    padding: 30px;
}
.header-container .link1{
    text-decoration: none;
    font-size: 25px;
    color: black;
}